/**
 * The following class represents the princess style of our game.
 * Each of the styles corresponding to the backgrounds, buttons, and text areas are determined here.
 *  The CSS will allow us to change, if the client wishes, the style, theme of the game.
 */

/**
 * This allows you to apply a colour, here indigo, to the chosen background. This is the background used most of the time.
 */
 .background
 {
   -fx-background-image: url("/images/background-princess.jpg");
   -fx-text-fill: white;
 }


.background-field
{
  -fx-background-image: url("/images/field-princesse-.jpg");
  -fx-text-fill: white;
}

.background-menu
{
  /*-fx-background-color: black;*/
  -fx-background-color: orchid;
  -fx-text-fill: white;
}


/**
 * The following funds are made available for the players' list section
*/

/**
 * This allows you to apply a colour, here white, to the chosen background.
 */
.background-white
{
  -fx-background-color: lightgrey;
  -fx-text-fill: white;
}

/**
 * This allows you to apply a colour, here blue, to the chosen background.
 */
.background-player1
{
  -fx-background-image: url("/images/background-player1.jpg");
  -fx-text-fill: white;
}

/**
 * This allows you to apply a colour, here pink, to the chosen background.
 */
.background-player2
{
  -fx-background-image: url("/images/background--player2.jpg");
  -fx-text-fill: white;
}

/**
 * This allows you to apply a colour, here yellow, to the chosen background.
 */
.background-player3
{
  -fx-background-image: url("/images/background-player3.jpeg");
  -fx-text-fill: white;
}

/**
 * This allows you to apply a colour, here green, to the chosen background.
 */
.background-player4
{
  -fx-background-image: url("/images/background-player4.jpg");
  -fx-text-fill: white;
}

/**
 * This allows you to apply a colour, here darkblue, to the chosen background.
 */
.background-player5
{
  -fx-background-image: url("/images/background-player5.jpg");
  -fx-text-fill: white;
}

/**
 * This allows you to apply a colour, here red, to the chosen background.
 */
.background-player6
{
  -fx-background-image: url("/images/background-player6.jpg");
  -fx-text-fill: white;
}

/**
 * The following buttons are all types that can be encountered in the game.
 */

/**
 * The following green button is encountered throughout the game.
 * When you move the mouse over it, it has a different opacity.
 */
.green-button
{
  -fx-background-color: violet;
  -fx-text-fill: white;
}
.green-button:hover
{
  -fx-text-fill: black;
  -fx-background-color: rgba(238,130,238,0.45);
}

/**
 *The following orange button is encountered throughout the game.
 *When you move the mouse over it, it has a different opacity.
 */
.orange-button
{
  -fx-background-color: lightseagreen;
  -fx-text-fill: white;
}
.orange-button:hover
{
-fx-text-fill: black;
-fx-background-color: rgba(32,178,170,0.75);
}

/**
 * The following red button is encountered throughout the game.
 * When you move the mouse over it, it has a different opacity.
 */
.red-button
{
-fx-background-color: sandybrown;
-fx-text-fill: white;
}
.red-button:hover
{
  -fx-text-fill: black;
  -fx-background-color: rgba(244,164,96,0.75);
}


/**
* The following grey button is encountered throughout the game.
* When you move the mouse over it, it has a different opacity.
*/
.grey-button
{
  -fx-background-color: plum;
  -fx-text-fill: black ;
}
.grey-button:hover
{
  -fx-text-fill: black ;
  -fx-background-color: rgba(221,160,221,0.75);
}

/**
 * The following grey buttons are those contained on the game menu bar.
 * When you move the mouse over them, the opacity changes to show a difference.
 */
.grey-button-bar
{
  -fx-background-color: paleturquoise;
}
.grey-button-bar:hover
{
  -fx-text-fill: white ;
  -fx-background-color: rgba(175,238,238,0.75);
}

/**
* The following white button is encountered throughout the game.
* When you move the mouse over it, it has a different opacity.
*/
.white-button
{
  -fx-background-color: plum ;
}
.white-button:hover
{
  -fx-text-fill: white ;
  -fx-background-color: rgba(221,160,221,0.75);
}

/**
 * This represents the text areas that are white.
 */
.white-textfield
{
  -fx-background-color: white;
  -fx-text-fill: black;
}

/**
 * The pink button in the help area is the only pink button that looks like this,
 *  so it is given an ID to identify it.
 */
#pink-button
{
  -fx-background-color: deepskyblue;
}
#pink-button:hover
{
  -fx-background-color: rgba(0,191,255,0.75);
  -fx-text-fill: white;
}

/**
 * The next buttons are those that ask players if they want
 * to do business when a player decides not to buy.
 */
.yesPlayer
{
  -fx-background-color: white;
}
.yesPlayer:hover
{
  -fx-text-fill: darkgreen;
  -fx-background-color: rgba(0,255,0,0.45);
}

.noPlayer
{
  -fx-background-color: white;
}
.noPlayer:hover
{
  -fx-text-fill: red;
  -fx-background-color: rgba(255,0,0,0.45);
}

.background-skill2
{
  -fx-background-color: skyblue;
}
